html, 
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
}

header {
  background-color: #34495e;
  padding: 1em;
  text-align: center;
  color: #e67e22;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  position: relative;
  font-family: Helvetica;
}
canvas {
  border: 1px solid;
}
#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}
#restart {
  position: absolute;
  display: none;
}
#introduction {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1em;
  color: gray;
}
#perfect {
  position: absolute;
  top: 60px;
  right: 30px;
  font-size: 1em;
  color: green;
  display: none;
}
#youtube {
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
}
#youtube-card {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}
